fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
boto3==1.35.90 # For AWS S3 interactions or Minio
pika==1.3.2 # For RabbitMQ interactions
prometheus-fastapi-instrumentator==7.0.0
pydantic==2.10.4
python-multipart==0.0.20 # For handling file uploads in FastAPI